*.log
*.node
*.orig
*.sublime-project
*.sublime-workspace
.*.swp
._*
.DS_Store
.git
.hg
.idea
.lock-wscript
.svn
.wafpickle-*
__*.*
build
components
coverage
CVS
node_modules
npm-debug.log
sandbox
test/out-fixtures/*
test/watch-*.txt